
html, body {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-weight: 700;
    font-family: 'PT Sans', sans-serif;
    line-height: 21px;
    text-transform: uppercase;
    color: black;
    background-color: #f2f2f2;

}

/*body {*/
/*background: #000000 url("../img/sedona-index-1200.jpg") no-repeat 100% 0;*/
/*background-size: 100%;*/

/*}*/

h1 {
    font-size: 21px;
    line-height: 26px;
}

h2 {
    font-size: 21px;
    line-height: 21px;
}

.wrapper {
    position: relative;
    width: 1200px;
    margin: 0 auto;
    box-shadow: 5px 0 15px rgba(0,0,0,0.2);
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/*--------------------------------------------------- Хедер для index.html-------------------------------------------*/
.header {
    position: relative;
    background-color: white;
    z-index: 4;
}
.header-menu a:hover {
    color: #81b3d2;
}
.menu-list {
    margin: 0;
    padding-left: 72px;
    padding-right: 72px;
    list-style-type: none;
}

.menu-list li {
    width: 240px;
    padding-top: 18px;
    padding-bottom: 17px;
}

.right {
    float: right;
}

.left {
    float: left;
}

.menu-list a {
    text-decoration: none;
    font-size: 14px;
    color: black;
}

.menu-item-2 {
    text-align: right;
}

.logo {
    left: 50%;
    top: 0;
    display: block;
    position: absolute;
    transform: translatex(-50%);
    z-index: 5;
}

/*-------------------------------------Форма выбора отеля (sedona-hotels.html)----------------------------------------*/

.options-form {
    padding: 30px 68px 25px;
    background: url("../img/filter-background.jpg") no-repeat;
    background-size: 100%;
    display: block;
    color: white;

}

.filter-form-left {
    width: 150px;
    border: none;
    float: left;
    padding-left: 0;
}

.filter-form-right {
    width: 330px;
    border: none;
    float: right;
    text-align: left;
    padding-right: 0;
    font-size: inherit;
}

.btn-transparent {
    width: 135px;
    height: 35px;
    margin: 25px 96px;
    background-color: transparent;
    color: white;
    font-size: 14px;
    text-transform: uppercase;
    border: 2px solid white;
}

.options-hotel input[type="checkbox"] + label {
    display: inline-block;
    width: 110px;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"] + label {
    display: block;
    margin: 10px 0;
    line-height: 20px;
    padding-left: 45px;
    position: relative;
    cursor: pointer;
}

input[type="checkbox"] + label::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 22px;
    height: 22px;
    background: url(../img/sprite.png) no-repeat -10px -84px;
}

input[type="checkbox"]:checked + label::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 26px;
    height: 22px;
    background: url(../img/sprite.png) no-repeat -52px -84px;
}
/*-------------------------------------Форма c найденными отелями (sedona-hotels.html)--------------------------------*/

.search-inform {
    margin: 0 auto;
    padding: 0 70px 0 73px;
    background-color: white;
    border-bottom: 2px solid whitesmoke;
}

.hotel-sort-item {
    display: inline-block;
    vertical-align: top;
    margin-right: 30px;

}

.search-title {
    display: inline-block;
    padding-top: 30px;
    padding-bottom: 26px;
    padding-right: 46px;
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
}

.hotel-sort {
    display: inline-block;
    padding-right: 290px;
    font-size: 12px;
}

.hotel-sort p {
    display: inline-block;
    padding-right: 37px;
}

.hotel-sort ul {
    display: inline-block;
    padding-right: 30px;
}
.hotel-sort-link {
    text-decoration: none;
    color: #8b8b8b;
    font-weight: normal;
    border-bottom: dotted #81b3d2;
}
.hotel-sort-link:hover {
    color: #81b3d2;
}

.hotel-cursor {
    display: inline-block;
    vertical-align: middle;
    margin-left: 120px;
}
.hotel-sort-cursor::before {
    content: "";
    display: inline-block;
    top: 0;
    left: 0;
    width: 11px;
    height: 10px;
    background: url(../img/sprite.png) no-repeat -129px -89px;
}
.hotel-sort-cursor2::before {
    content: "";
    display: inline-block;
    top: 0;
    left: 0;
    width: 11px;
    height: 10px;
    background: url(../img/sprite.png) no-repeat -98px -89px;
}
/*--------------------------------------------Найденные отели (sedona-hotels.html)------------------------------------*/

.hotel {
    margin: 0 auto;
    min-height: 152px;
    padding: 0 70px 0 70px;
    border-bottom: 2px solid whitesmoke;
    background-color: white;
}

.hotel-picture {
    width: 165px;
    float: left;
    padding-top: 30px;
    padding-bottom: 30px;
}

.hotel-content {
    width: 780px;
    float: left;
    padding-top: 30px;
    padding-bottom: 30px;
}

.hotel-content-name {
    display: block;
    font-size: 21px;
    text-decoration: none;
    line-height: 26px;
    color: black;
}
.hotel-content-name:hover {
    color: #81b3d2;
}

.hotel-rate {
    width: 110px;
    float: right;
    padding-top: 28px;
    padding-bottom: 30px;
}

.hotel-block-type, .hotel-block-btn {
    display: inline-block;
    width: 100px;
}

.hotel-block-type {
    padding-right: 10px;
}

.hotel-block-type span, .hotel-block-btn span {
    line-height: 40px;
}

.btn-blue {
    padding: 5px 15px 5px 15px;
    text-decoration: none;
    background-color: #81b3d2;
    color: white;
}
.btn-blue:hover {
    background-color: #669ec0;
}
.btn-brown {
    padding: 5px 15px 5px 15px;
    text-decoration: none;
    background-color: #766357;
    color: white;
}
.btn-brown:hover {
    background-color: #604e43;
}
.hotel-5stars {
    content: "";
    display: block;
    font-size: 0;
    position: relative;
    left: 20px;
    width: 89px;
    height: 17px;
    background: url(../img/sprite.png) no-repeat -10px -47px;
}
.hotel-3stars {
    content: "";
    display: block;
    position: relative;
    left: 40px;
    font-size: 0;
    width: 65px;
    height: 17px;
    background: url(../img/sprite.png) no-repeat -72px -10px;
}

.hotel-2stars {
    content: "";
    display: block;
    font-size: 0;
    position: relative;
    left: 60px;
    width: 42px;
    height: 17px;
    background: url(../img/sprite.png) no-repeat -10px -10px;
}
.hotel-rate-text {
    margin-top: 40%;
    text-align: center;
    padding: 5px;
    background-color: #f2f2f2;
    color: #8b8b8b;
}
/*--------------------------------------------Промоблок с логотипом---------------------------------------------------*/

.promo {
    min-height: 431px;
    padding-top: 77px;
    background-size: cover;
    background: url("../img/background-promo.jpg") no-repeat 50% 28%;
    position: relative;
}

.promo::after {
    position: absolute;
    background-size: 100% 57px;
    bottom: 0;
    content: "";
    height: 57px;
    width: 100%;
    background-image: url("../img/shape.png");
}
.promo img {
    margin: 0 auto;
    display: block;
}

/*------------------------- Преимущества хедер и 1 строка и Преимущества 3 строка-------------------------------------*/

.reason-header {
    position: relative;
    z-index: 4;
    padding-top: 60px;
    padding-bottom: 38px;
    background-color: white;
    text-align: center;
}

.reason-header h1 {
    width: 480px;
    margin: 0 auto;
}

.reason-header p {
    padding-top: 16px;
}

.reason-row {
    min-height: 257px;
    background-color: #81b3d2;
    color: white;
}

.reason-option {
    padding-top: 55px;
    padding-bottom: 48px;
    width: 400px;
    text-align: center;

}

.reason-title {
    width: 150px;
    margin: 0 auto 25px;
}

.reason-number {
    margin-bottom: 20px;
}

 .reason-text-1 {
     width: 302px;
    margin: 0 auto;
}

.reason-pictures {
    width: 800px;
    overflow: hidden;
}

.reason-pictures img {
    border-style: none;
    vertical-align: bottom;
}

/* -----------------------------------------------Преимущества 2 строка-----------------------------------------------*/
.reason-icon {
    text-align: center;
    background-color: white;
}

.reason-icon-name {
    float: left;
    width: 400px;
    padding-top: 160px;
    padding-bottom: 81px;
}
.home {
    background: url("../img/home1.png") 50% 23% no-repeat;
    background-size: 74px 74px;
}
.eat {
    background: url("../img/food1.png") 50% 23% no-repeat;
    background-size: 70px 74px;
}
.gifts {
    background: url("../img/gift1.png") 50% 23% no-repeat;
    background-size: 67px 75px;
}
.reason-text-2 {
    width: 285px;
    margin: 0 auto;
}

/*------------------------------------------------Преимущества 4 строка-----------------------------------------------*/
.reason-gray {
    text-align: center;
    background-color: #eeeeee;
    padding-top: 46px;
    padding-bottom: 60px;
}

.reason-gray-option {
    width: 400px;
    float: left;
}
.reason-text-3 {
    width: 302px;
    margin: 25px auto 0;
}
/* ----------------------------------------------Хедер Формы поиска---------------------------------------------------*/
.search-form-header {
    background-color: white;
    text-align: center;
    padding-top: 32px;
}

.call-to-action {
    font-size: 30px;
}

.search-form-header p {
    padding-bottom: 47px;
    width: 450px;
    margin: 0 auto;
    line-height: 24px;
    padding-top: 7px;
}

.search-form-link {
    width: 570px;
    margin: 0 auto;
    background-color: #766357;
    padding-top: 32px;
    padding-bottom: 33px;
    text-decoration: none;
    font-size: 21px;
    font-weight: bold;
    color: white;
    display: inline-block;

}

.search-form-link a {
    box-sizing: border-box;
    width: 100%;
    min-height: 56px;

}

/*---------------------------------------------------------Карта------------------------------------------------------*/
.map {
    min-height: 593px;
    background: url("../img/map.jpg") no-repeat;
}

/*------------------------------------------------------Форма поиска--------------------------------------------------*/

.search-form {
    position: absolute;
    z-index: 5;
    width: 460px;
    background-color: white;
    color: black;
    padding: 55px;
    vertical-align: middle;
    left: 50%;
    margin-left: -285px;
    box-shadow: 7px 0 15px rgba(0,0,0,0.15);
}

.search-form-row {
    padding-bottom: 28px;
}

.search-form-label {
    font-weight: bold;
    float: left;
    padding-top: 10px;
    padding-left: 3px;
}

.search-form-field {
    float: right;
    position: relative;
    display: inline-block;
    width: 295px;
    padding-left: 10px;
    padding-right: 40px;
    border: none;
    height: 36px;
    line-height: 36px;
    background-color: #f2f2f2;
}

.search-form-calendar {
    vertical-align: top;
    width: 36px;
    height: 36px;
    position: absolute;
    font-size: 0;
    background-color: transparent;
    border: none;
    right: 0;
    margin-right: 57px;
    margin-top: 2px;
}

.search-form-calendar::before {
    content: "";
    position: absolute;
    width: 21px;
    height: 22px;
    transform: translate(-50%,-50%);
    background: url("../img/sprite.png") no-repeat -119px -47px;
}

.search-form-col {
    width: 230px;
    float: left;
}

.form-left-label {
    float: left;
    margin-top: 10px;
}
.number {
    float: right;
}

.form-right-field {
    width: 36px;
    height: 36px;
    text-align: center;
    background-color: #f2f2f2;
    border: none;
}
.number-btn-minus,.form-right-field {
    float: left;
}

.number-btn-minus, .number-btn-plus {
    width: 38px;
    height: 38px;
    background-color: #f2f2f2;
    border: none;
    margin: 0;
}

.search-form-btn {
    width: 458px;
    height: 58px;
    margin-top: 30px;
    background-color: #81b3d2;
    color: white;
    border: none;
    font-size: 21px;
    text-transform: uppercase;
}
::-webkit-input-placeholder {
    color: black;
    text-transform: uppercase;
    font-size: 14px;
}
/* ------------------------------------------------------Футер--------------------------------------------------------*/
.main-footer {
    position: absolute;
    bottom: 0;
    color: black;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100%;
    background-color: white;
    opacity: 0.9;
}

.column {
    display: inline-block;
    width: 394px;
    margin-bottom: 32px;
    margin-top: 32px;
    margin-left: 2px;
    text-align: center;
    font-size: 16px;
    vertical-align: middle;
}

.footer-reviews a {
    line-height: 26px;
    font-weight: bold;
    text-decoration: none;
    color: black;
    font-size: 21px;
}
.social-btn {
    display: inline-block;
    vertical-align: top;
    width: 46px;
    height: 46px;
    font-size: 0;
    background-color: #81b3d2;
    position: relative;
}
.social-btn::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: url("../img/sprite.png") no-repeat;
}
.social-btn-tv::before {
    width: 17px;
    height: 15px;
    background-position: -10px -142px;
}

.social-btn-fb::before {
    width: 10px;
    height: 19px;
    background-position: -98px -119px;
}

.social-btn-youtube::before {
    width: 20px;
    height: 16px;
    background-position: -47px -142px;
}

.copyright {
    font-size: 14px;
}
.copyright a {
    padding-left: 5px;

}
.copyright span {
    vertical-align: middle;
}

.copyright img {
    vertical-align: middle;
}
/* ----------------------------------------------------Футер (sedona-hotels.html)-------------------------------------*/
.main-footer-1 {
    bottom: 0;
    color: black;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100%;
    background-color: white;
}

/* ------------------------------------------------------Спрайты------------------------------------------------------*/

.sprite {
    background: url(../img/sprite.png) no-repeat;
    display: block;
}

.sprite-2stars {
    width: 42px;
    height: 17px;
    background-position: -10px -10px;
}

.sprite-3stars {
    width: 65px;
    height: 17px;
    background-position: -72px -10px;
}

.sprite-5stars {
    width: 89px;
    height: 17px;
    background-position: -10px -47px;
}

.sprite-calendar {
    width: 21px;
    height: 22px;
    background-position: -119px -47px;
}

.sprite-checkbox {
    width: 22px;
    height: 22px;
    background-position: -10px -84px;
}

.sprite-checkbox-checked {
    width: 26px;
    height: 22px;
    background-position: -52px -84px;
}

.sprite-cursorup {
    width: 11px;
    height: 10px;
    background-position: -98px -89px;
}

.sprite-cursur-dawn-blue {
    width: 11px;
    height: 10px;
    background-position: -129px -89px;
}

.sprite-facebook {
    width: 10px;
    height: 19px;
    background-position: -98px -119px;
}

.sprite-minus {
    width: 12px;
    height: 3px;
    background-position: -128px -119px;
}

.sprite-plus {
    width: 11px;
    height: 11px;
    background-position: -157px -10px;
}

.sprite-twitter {
    width: 17px;
    height: 15px;
    background-position: -10px -142px;
}

.sprite-youtube {
    width: 20px;
    height: 16px;
    background-position: -47px -142px;
}


