
html, body {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-weight: 700;
    font-family: 'PT Sans', sans-serif;
    line-height: 21px;
    text-transform: uppercase;
    color: black;

}

body {
    background: #000000 url("../img/sedona-index-1200.jpg") no-repeat 100% 0;
    background-size: 100%;

}
h1,h2 {
    font-size: 21px;
    font-weight: bold;
    line-height: 26px;
    text-align: center;
}

.wrapper {
    width: 100%;
    margin-top: 0;
}

.header {
    min-height: 70px;
    margin-top: 0;
    margin-left: 40px;
    margin-right: 40px;
    background-color: aquamarine;
    opacity: 0.5;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.header-menu {
    display: inline-block;
}

.menu-list {
    padding: 0;
    font-size: 0;
}

.menu-list li {
    display: inline-block;
    width: 240px;
    text-align: center;
    vertical-align: middle;
}

.menu-list li:nth-child(2) {
    margin-right: 240px;
}

.menu-list a {
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    min-height: 56px;
    padding: 17px 0 15px;
    text-decoration: none;
    font-size: 14px;
}

.logo {
    left: 50%;
    top: 0;
    display: block;
    position: absolute;
    transform: translatex(-50%);
}

.promo {
    opacity: 0.7;
    background: url("../img/background-promo.jpg") no-repeat top left;
    background-size: 100%;
    margin-top: -96px;
    margin-right: 39px;
    margin-left: 40px;
    min-height: 800px;
    position: relative;
}

.promo img {
    margin: 159px 371px 80px;
}
.reasons {
    margin-left: 40px;
    margin-right: 40px;
    display: inline-block;
}
.reasons-header {
    background-color: white;

}
