
html, body {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-weight: 700;
    font-family: 'PT Sans', sans-serif;
    line-height: 21px;
    text-transform: uppercase;
    color: black;

}

/*body {*/
/*background: #000000 url("../img/sedona-index-1200.jpg") no-repeat 100% 0;*/
/*background-size: 100%;*/

/*}*/

h1 {
    font-size: 21px;
    line-height: 26px;
}

h2 {
    font-size: 21px;
    line-height: 21px;
}

.wrapper {
    width: 1200px;
    margin: 0 auto;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/*--------------------------------------------------- Хедер для index.html-------------------------------------------*/
.header {
    background-color: aquamarine;
    opacity: 0.5;
}

.menu-list {
    margin: 0;
    padding-left: 72px;
    padding-right: 72px;
    font-size: 0;
}

.menu-list li {
    width: 240px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.right {
    float: right;
    text-align: right;
}

.left {
    float: left;
}

.menu-list li:nth-child(2) {
    margin-right: 96px;
}

.menu-list a {
    text-decoration: none;
    font-size: 14px;
}

.logo {
    left: 50%;
    top: 0;
    display: block;
    position: absolute;
    transform: translatex(-50%);
}

/*-------------------------------------Форма выбора отеля (sedona-hotels.html)----------------------------------------*/

.options-form {
    min-height: 218px;
    opacity: 0.7;
    margin: 0 auto;
    padding: 30px 72px;
    background: url("../img/background-hotel.jpg") no-repeat;
    background-size: 100%;
    display: block;
}

.filter-form-left {
    width: 150px;
    border: none;
    float: left;
    padding-left: 0;
}

.filter-form-right {
    width: 330px;
    border: none;
    float: right;
    text-align: left;
    padding-right: 70px;
}

/*.filter-form-left label {*/
/*line-height: 35px;*/
/*}*/
.btn-transparent {
    width: 137px;
    height: 35px;
    margin: 25px 96px;
}

.options-hotel input[type="checkbox"] + label {
    display: block;
}

/*-------------------------------------Форма c найденными отелями (sedona-hotels.html)--------------------------------*/

.search-inform {
    margin: 0 auto;
    padding: 30px 70px 22px 73px;
}

.hotel-sort-item {
    display: inline-block;
    vertical-align: top;
    margin-right: 30px;
}

.search-title {
    display: inline-block;
    padding-top: 30px;
    padding-bottom: 26px;
    padding-right: 46px;
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
}

.hotel-sort {
    display: inline-block;
    padding-right: 290px;
    font-size: 12px;
}

.hotel-sort p {
    display: inline-block;
    padding-right: 37px;
}

.hotel-sort ul {
    display: inline-block;
    padding-right: 30px;
}

.hotel-cursor {
    display: inline-block;
    vertical-align: middle;
}

/*--------------------------------------------Найденные отели---------------------------------------------------------*/

.hotel {
    margin: 0 auto;
    min-height: 152px;
    padding: 30px 70px 30px 73px;
    border-top: 2px solid whitesmoke;
}

.hotel-picture {
    float: left;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 30px;
}

.hotel-content {
    float: left;
    padding-top: 30px;
    padding-bottom: 30px;
}

.hotel-content-name {
    font-size: 21px;
    text-decoration: none;
    line-height: 26px;
}

.hotel-rate {
    float: right;
    padding-top: 28px;
    padding-bottom: 30px;
}

.hotel-block-type, .hotel-block-btn {
    display: block;

}

.hotel-block-type {
    padding-top: 15px;
    padding-bottom: 10px;
}

.hotel-block-type span {
    padding-right: 35px;
}

.btn-blue {
    width: 110px;
    min-height: 27px;
    margin-right: 5px;
    padding: 0 15px 0 15px;
    text-decoration: none;
    background-color: cornflowerblue;
    color: white;
}

.btn-brown {
    width: 110px;
    min-height: 27px;
    margin-right: 10px;
    padding: 0 15px 0 15px;
    text-decoration: none;
    background-color: chocolate;
    color: white;
}

/*--------------------------------------------Промоблок с логотипом---------------------------------------------------*/
.promo {
    min-height: 505px;
    opacity: 0.7;
    margin: 0 auto;
    padding-top: 132px;
    background: url("../img/background-promo.jpg") no-repeat;
    background-size: cover;
    display: block;

}

.promo img {
    margin: 0 auto;
    display: block;
}

/*------------------------- Преимущества хедер и 1 строка и Преимущества 3 строка-------------------------------------*/
.reason {
    width: 1200px;
    min-height: 257px;
}

.reason-header {
    padding-top: 57px;
    padding-bottom: 58px;
    opacity: 0.5;
    background-color: white;
    text-align: center;

}

.reason-header h1 {
    width: 480px;
    margin: 0 auto;
    text-align: center;
}

.reason-row {
    min-height: 257px;
}

.reason-blue {
    opacity: 0.5;
    padding-top: 47px;
    padding-bottom: 48px;
    width: 400px;
    float: left;
    text-align: center;
    background-color: cornflowerblue;
}

.reason-title {
    width: 150px;
    margin: 0 auto;
}

.reason-number {
    padding-top: 25px;
    padding-bottom: 25px;
}

.reason-blue .reason-text {
    width: 300px;
    margin: 0 auto;
    padding-top: 7px;
}

.reason-pictures img {
    border-style: none;
    vertical-align: bottom;
}

.invert {
    float: right;
}

/* -----------------------------------------------Преимущества 2 строка-----------------------------------------------*/
.reason-icon {
    min-height: 257px;
    text-align: center;
    background-color: yellow;
    opacity: 0.5;
}

.reason-icon-name {
    float: left;
    width: 400px;
    padding-top: 160px;
    padding-bottom: 85px;
    display: inline;

}

.reason-text {
    width: 260px;
    margin: 0 auto;
}

/*------------------------------------------------Преимущества 4 строка-----------------------------------------------*/
.reason-gray {
    text-align: center;
    background-color: yellow;
    opacity: 0.3;
    padding-top: 48px;
    padding-bottom: 62px;
}

.reason-gray-option {
    width: 400px;
    float: left;
}

/* ----------------------------------------------Хедер Формы поиска---------------------------------------------------*/
.search-form-header {
    background-color: salmon;
    opacity: 0.5;
    text-align: center;
    padding-top: 56px;
}

.call-to-action {
    font-size: 30px;
}

.search-form-header p {
    width: 410px;
    margin: 0 auto;
    padding-bottom: 50px;
}

.search-form-link {
    width: 570px;
    min-height: 86px;
    margin: 0 auto;
    background-color: chocolate;
    opacity: 0.5;
}

.search-form-link a {
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    min-height: 56px;
    padding-top: 34px;
    padding-bottom: 35px;
    text-decoration: none;
    font-size: 21px;
    color: white;
}

/*---------------------------------------------------------Карта------------------------------------------------------*/
.map {
    width: 1200px;
    min-height: 593px;
    background: url("../img/map.jpg") no-repeat;
    opacity: 0.3;
}

/*------------------------------------------------------Форма поиска--------------------------------------------------*/

.search-form {
    width: 460px;
    margin: 0 auto;
    background-color: white;
    color: black;
    padding: 55px;
}

.search-form-row {

}

.search-form-label {
    font-weight: bold;
    float: left;
}

.search-form-field {
    float: right;
    width: 345px;
    padding-left: 10px;
    padding-right: 40px;
    border: none;
    height: 36px;
    line-height: 36px;
    background-color: silver;
}

.search-form-col {
    width: 230px;
}

.form-left-label {
    float: left;
}

.form-right-field {
    float: right;
}

.search-form-btn {
    width: 458px;
    height: 58px;
}

/* ------------------------------------------------------Футер--------------------------------------------------------*/
.main-footer {
    background-color: azure;
    opacity: 0.5;
    color: black;
    display: inline-block;
    padding-top: 5px;
    padding-bottom: 5px;
}

.column {
    display: inline-block;
    bottom: 0;
    font-size: 16px;
}

.footer-reviews {
    line-height: 26px;
    font-weight: bold;
    text-decoration: none;
    margin: 30px 261px 40px 130px;
}

.footer-social {
    margin: 30px 213px 40px 40px;
}

.copyright {
    font-size: 14px;
}

.copyright span {
    vertical-align: middle;
}

.copyright img {
    vertical-align: middle;
}